:root {
  /* Button Colors */
  --button-primary-default: #2871E6;
  --button-primary-hover: #1759C4;
  --button-primary-pressed: #0944A2;

  --button-secondary-default: #FFFFFF;
  --button-secondary-hover: #EDF4FF;
  --button-secondary-pressed: #C7DDFF;

  /* Spacing (Gaps) */
  --gap-4: 4px;
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-16: 16px;
  --gap-20: 20px;
  --gap-24: 24px;
  --gap-28: 28px;
  --gap-32: 32px;
  --gap-36: 36px;
  --gap-40: 40px;
  --gap-44: 44px;
  --gap-48: 48px;
  --gap-52: 52px;
  --gap-56: 56px;
  --gap-60: 60px;
  --gap-80: 80px;
  --gap-140: 140px;

  /* Breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-large: 1440px;
  --breakpoint-xl: 1920px;

  /* Border Radius */
  --radius-4: 4px;
  --radius-8: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;

}