.block {
  display: flex;
  align-items: start;
  gap: 10px;

  list-style: none;
  border-bottom: 1px solid gainsboro;
  padding: 20px;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .header {
      display: flex;
      align-items: center;
      gap: 5px;

      h4 {
        font-size: 15px;
      }

      span {
        color: gray;
        font-size: 12px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 15px;

      p {
        font-size: 14px;
      }

      img {
        width: 400px;
        border-radius: 10px;
      }
    }
  }
}
