.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: #162D3A;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  padding: 16px;
  cursor: pointer;
}